<a href="https://colab.research.google.com/github/Raaz-8/Clg_Projects/blob/main/Iris_Pr1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#importing pandas
import pandas as pd
#Importing the iris dataset csv file & storing in the variable named csv_url
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
#reading the dataset
iris = pd.read_csv(csv_url, header= None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
#col_names is the list used for storing the names and further accessed by the read_csv function
col_names=['sepal height','Sepal Width','petal height','petal width','Names']
iris = pd.read_csv(csv_url, names=col_names) #Given the names to columns by using names
iris

     sepal height  Sepal Width  petal height  petal width           Names
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
#It Prints Last 7 elements Or we can change the no. of elements we want.
iris.tail(7)

     sepal height  Sepal Width  petal height  petal width           Names
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [13]:
#It Prints First 7 elements Or we can change the no. of elements we want.
iris.head(7)

   sepal height  Sepal Width  petal height  petal width        Names
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

In [15]:
#This method returns the the dimensions of the dataset in a tuple
iris.shape

(150, 5)

In [16]:
# The index (row labels) of the Dataset.
iris.index

RangeIndex(start=0, stop=150, step=1)

In [19]:
# Return the dtypes in the Dataset.
iris.dtypes

sepal height    float64
Sepal Width     float64
petal height    float64
petal width     float64
Names            object
dtype: object

In [20]:
# Return the columns values in the Dataset in array format
iris.columns.values

array(['sepal height', 'Sepal Width', 'petal height', 'petal width',
       'Names'], dtype=object)

In [21]:
# Generate descriptive statistics.
# to view some basic statistical details like percentile,
# mean, std etc. of a data frame or a series of numeric values.
# Analyzes both numeric and object series, as well as Dataset column sets of mixed data types.

iris.describe(include='all')

        sepal height  Sepal Width  petal height  petal width        Names
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [23]:
# Read the Data Column wise.
col_d=iris['sepal height']
col_d.head(5)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal height, dtype: float64

In [28]:
# col_d=iris['sepal height']
col_d.tail(10)

140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal height, dtype: float64

In [36]:
# Sort values by column name.
iris.sort_values(by = 'sepal height')

     sepal height  Sepal Width  petal height  petal width           Names
13            4.3          3.0           1.1          0.1     Iris-setosa
42            4.4          3.2           1.3          0.2     Iris-setosa
38            4.4          3.0           1.3          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
41            4.5          2.3           1.3          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
122           7.7          2.8           6.7          2.0  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica

[150 rows x 5 columns]

In [37]:
# Purely integer-location based indexing for selection by position.
iris.iloc[5]

sepal height            5.4
Sepal Width             3.9
petal height            1.7
petal width             0.4
Names           Iris-setosa
Name: 5, dtype: object

In [40]:
# Selecting via [], which slices the rows.
iris[0:8]

   sepal height  Sepal Width  petal height  petal width        Names
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [41]:
# Selecting via [], which slices the rows.
iris[5:18]

    sepal height  Sepal Width  petal height  petal width        Names
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa

In [44]:
# Slice the data
iris.iloc[5:18,0:2]

    sepal height  Sepal Width
5            5.4          3.9
6            4.6          3.4
7            5.0          3.4
8            4.4          2.9
9            4.9          3.1
10           5.4          3.7
11           4.8          3.4
12           4.8          3.0
13           4.3          3.0
14           5.8          4.0
15           5.7          4.4
16           5.4          3.9
17           5.1          3.5

In [48]:
# Slice the data and print Last five from them
col_lines = iris.iloc[0:18,0:2]
col_lines.tail(5)

    sepal height  Sepal Width
13           4.3          3.0
14           5.8          4.0
15           5.7          4.4
16           5.4          3.9
17           5.1          3.5

In [47]:
# Slice the data and print first five from them
col_lines = iris.iloc[0:18,0:2]
col_lines.head(5)

   sepal height  Sepal Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [50]:
# Slice the data and print Last five from them
col_lines = iris.iloc[0:18,0:2]
sorted_col_lines = col_lines.head(5)
sorted_col_lines.sort_values(by="sepal height")

   sepal height  Sepal Width
3           4.6          3.1
2           4.7          3.2
1           4.9          3.0
4           5.0          3.6
0           5.1          3.5